#hero {
  display: flex;
  height: 100vh;
  padding: 0 8%;
  align-items: center;
  justify-content: space-between; }
  #hero .logo {
    height: 100vh; }
    #hero .logo circle, #hero .logo .liquid {
      fill: #FE7734; }
    #hero .logo .lines path:not(.thread-border) {
      fill: none;
      stroke: black;
      stroke-width: 5;
      stroke-miterlimit: 10; }
    #hero .logo .thread-border {
      fill: black;
      stroke: #000000;
      stroke-width: 0; }
    #hero .logo .thread {
      stroke-width: 12 !important; }
    #hero .logo .big {
      animation: a-circle-big 4s linear infinite;
      transform: translateY(110px);
      transform-origin: center; }
    #hero .logo .little {
      animation: a-circle-little 4s 2s linear infinite;
      transform: translateY(150px);
      transform-origin: center; }
  #hero h3 {
    font-family: 'Source Sans Pro';
    font-size: 50px;
    font-weight: 300; }
  #hero .button {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    height: 48px;
    justify-content: center;
    position: relative;
    width: 240px;
    transition: color 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    color: white; }
    #hero .button::after {
      background-color: #fe7734;
      content: '';
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      transition: transform 0.5s cubic-bezier(0, 0, 0.09, 0.87), opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87);
      width: 100%;
      z-index: -1; }
    #hero .button:hover {
      color: #ff9966; }
      #hero .button:hover::after {
        transform: scale(0.99) translateY(2px);
        opacity: 0.1; }
  @media screen and (max-width: 730px) {
    #hero h3 {
      min-width: 270px;
      font-size: 48px; }
    #hero #toAbout {
      position: absolute;
      bottom: 48px;
      left: calc(50% - 240px/2); }
    #hero .logo {
      width: 192vw;
      height: auto; } }
  @media screen and (max-width: 520px) {
    #hero h3 {
      font-size: 32px;
      max-width: 200px;
      width: 200px;
      white-space: normal;
      display: inline-block;
      transform: translateY(-30px); }
    #hero #toAbout {
      display: none; }
    #hero .logo {
      width: 70vw;
      position: absolute;
      right: 0;
      transform: translateY(40px); } }

#about {
  padding: 80px 60px; }
  #about .title {
    font-family: 'Muli';
    font-size: 45px;
    font-weight: 200;
    margin: 0; }
  #about p {
    font-weight: 300;
    opacity: 0.8; }
  #about .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0; }
    #about .item p {
      font-family: Open Sans;
      font-weight: 300;
      font-size: 18px;
      max-width: calc(100% - 450px); }
    #about .item .slider {
      width: 220px;
      height: 220px;
      position: relative;
      overflow: hidden; }
      #about .item .slider .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; }
        #about .item .slider .slide .bg, #about .item .slider .slide .icon {
          width: 100%;
          height: 100%;
          background-position: center;
          transition: all 1.5s cubic-bezier(0, 0, 0.09, 0.87);
          opacity: 0;
          background-repeat: no-repeat;
          transform: translateX(100%); }
        #about .item .slider .slide .bg {
          background-size: cover;
          position: absolute;
          z-index: 0;
          left: 0;
          overflow: hidden;
          border-radius: 50%; }
        #about .item .slider .slide .icon {
          background-size: 100px;
          transition-delay: 0.2s !important;
          z-index: 3;
          position: relative; }
        #about .item .slider .slide.active .bg, #about .item .slider .slide.active .icon {
          opacity: 1;
          transform: translateX(0%); }
  #about .item + .title {
    margin-top: 200px; }
  #about #services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px; }
    #about #services .service {
      align-items: center;
      display: flex;
      margin-top: 20px;
      margin-left: 20px;
      width: calc(50% - 20px);
      height: 250px;
      box-sizing: border-box;
      padding: 20px;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
      border-radius: 4px; }
      #about #services .service:nth-child(odd) {
        margin-left: 0; }
      #about #services .service .icon {
        height: 100px;
        width: 100px;
        margin-right: 30px;
        fill-rule: evenodd;
        stroke: transparent;
        stroke-width: 1;
        overflow: visible;
        transition: fill 0.5s cubic-bezier(0, 0, 0.09, 0.87), stroke 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
      #about #services .service p {
        margin: 0;
        margin-top: 3px;
        max-width: 600px;
        color: black; }
      #about #services .service .name {
        margin: 0;
        font-size: 26px; }
      #about #services .service[name="prototipamos"] .icon {
        stroke-width: 12px; }
      #about #services .service:hover .icon {
        fill: transparent !important; }
      #about #services .service:hover[name="creamos"] {
        background-color: rgba(255, 153, 102, 0.2);
        box-shadow: 0 0 10px 3px rgba(255, 153, 102, 0.09);
        color: #FE7734; }
        #about #services .service:hover[name="creamos"] .icon {
          fill: #ff9966;
          stroke: #FE7734; }
      #about #services .service:hover[name="asesoramos"] {
        background-color: rgba(116, 236, 158, 0.28);
        box-shadow: 0 0 10px 3px rgba(116, 236, 158, 0.28);
        color: #37e272; }
        #about #services .service:hover[name="asesoramos"] .icon {
          fill: #74ec9e;
          stroke: #37e272; }
      #about #services .service:hover[name="acompanamos"] {
        background-color: rgba(236, 116, 128, 0.21);
        box-shadow: 0 0 10px 3px rgba(236, 116, 128, 0.21);
        color: #f13b4d; }
        #about #services .service:hover[name="acompanamos"] .icon {
          fill: #ec7480;
          stroke: #f13b4d; }
      #about #services .service:hover[name="prototipamos"] {
        background-color: rgba(81, 133, 243, 0.23);
        box-shadow: 0 0 10px 3px rgba(81, 133, 243, 0.23);
        color: #0f4ac7; }
        #about #services .service:hover[name="prototipamos"] .icon {
          fill: #5185f3;
          stroke: #0f4ac7; }
  @media screen and (max-width: 1000px) {
    #about .item {
      flex-direction: column-reverse; }
      #about .item .slider {
        margin-bottom: 40px; }
      #about .item p {
        max-width: 90%; } }
  @media screen and (max-width: 900px) {
    #about #services {
      flex-direction: column; }
      #about #services .service {
        width: 100%;
        margin-left: 0 !important; } }
  @media screen and (max-width: 520px) {
    #about {
      padding: 80px 20px; }
      #about .title {
        font-size: 30px; }
      #about .item p {
        font-size: 15px; } }
  @media screen and (max-width: 420px) {
    #about .item .slider {
      width: 120px;
      height: 120px; }
      #about .item .slider .slide .icon {
        background-size: 50px; }
    #about #services .service {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px; }
      #about #services .service .icon {
        width: 60px;
        height: 60px;
        margin: 0;
        margin-bottom: 24px; }
      #about #services .service p {
        font-size: 14px; } }

#works {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  perspective: 500px; }
  #works .title + p {
    /*font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 18px;
    margin: 0;*/
    margin-bottom: 40px; }
  #works .project {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 50vh;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-left: 10px;
    max-height: 700px;
    min-height: 600px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    width: 50%; }
    #works .project .img {
      height: 100%;
      left: 10%;
      opacity: 0;
      position: absolute;
      top: 0;
      transform: scale(1.2);
      transition: transform 15s cubic-bezier(0, 0, 0.26, 0.68), opacity 2s cubic-bezier(0, 0, 0.09, 0.87), left 1.5s cubic-bezier(0, 0, 0.09, 0.87);
      width: 100%;
      background-position-y: 0;
      z-index: 0; }
      #works .project .img.active {
        opacity: 1;
        left: 0; }
    #works .project .info {
      align-items: center;
      color: white;
      display: flex;
      font-family: 'Source Sans Pro';
      font-size: 22px;
      font-weight: 400;
      padding: 20px;
      position: relative;
      transition: transform 0.5s cubic-bezier(0, 0, 0.09, 0.87);
      z-index: 4; }
      #works .project .info svg {
        height: 20px;
        width: 20px;
        fill: white;
        margin-right: 6px;
        transition: fill 0.5s cubic-bezier(0, 0, 0.09, 0.87), transform 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
      #works .project .info .name {
        transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #works .project::before, #works .project::after {
      background: linear-gradient(0deg, rgba(75, 53, 53, 0) 50%, rgba(33, 33, 33, 0.35) 100%);
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
      width: 100%;
      z-index: 1; }
    #works .project::after {
      background: linear-gradient(0deg, rgba(75, 53, 53, 0) 70%, rgba(255, 153, 102, 0.28) 100%);
      opacity: 0;
      top: -100%; }
    #works .project:hover {
      transform: rotateY(1deg); }
      #works .project:hover .img {
        transform: scale(1.4); }
      #works .project:hover::before {
        opacity: 0;
        top: -100%; }
      #works .project:hover::after {
        opacity: 1;
        top: 0%; }
      #works .project:hover.invert .info {
        color: black; }
        #works .project:hover.invert .info svg {
          fill: black; }
      #works .project:hover .info {
        transform: scale(0.8) translateX(-20px); }
        #works .project:hover .info svg {
          transform: scale(0.7); }
    #works .project.big {
      min-width: 100%;
      width: 100%; }
  #works > .flex {
    flex-wrap: wrap; }
    #works > .flex > .project {
      margin-left: 0; }
    #works > .flex > div {
      width: 50%;
      height: 50vh;
      max-height: 700px;
      min-height: 600px; }
      #works > .flex > div .project {
        height: calc(100% / 2 - 5px);
        max-height: none;
        min-height: unset;
        width: calc(100% - 10px); }
    @media screen and (max-width: 1400px) {
      #works > .flex {
        /*> div {
            width: calc(100% / 3 - (20px / 3)) !important;
            height: 25vh;
            max-height: 700px;
            min-height: 400px;
        }
        .project.big{
        	margin-left: 10px;
        	min-width: auto;
        }*/ } }
  #works .button-more {
    align-self: center;
    margin: 40px 0; }
  #works .inprogress li {
    margin-top: 15px;
    margin-left: 5px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8; }
    #works .inprogress li::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      background-color: #5185f3;
      margin-right: 9px;
      transform: translateY(-3px); }
  @media screen and (max-width: 740px) {
    #works > .flex > div {
      width: 100%; }
      #works > .flex > div .project {
        width: 100%;
        margin-left: 0; }
    #works > .flex > .project:last-child {
      margin-top: 10px; } }
  @media screen and (max-width: 560px) {
    #works {
      padding: 40px 20px; } }
  @media screen and (max-width: 440px) {
    #works > .flex > .project {
      min-height: 300px; } }

#clients {
  padding: 80px 60px;
  padding-top: 140px; }
  #clients .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    #clients .content .img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 180px;
      height: 100px;
      margin-top: 140px;
      width: calc(100% / 4 - 0px);
      transition: opacity 1.5s cubic-bezier(0, 0, 0.09, 0.87); }
      @media screen and (max-width: 645px) {
        #clients .content .img {
          width: calc(100% / 4 - 0px); } }
  @media screen and (max-width: 515px) {
    #clients {
      padding: 80px 20px; } }
  @media screen and (max-width: 480px) {
    #clients .content .img {
      background-size: 150px;
      margin-top: 60px;
      width: calc(100% / 2 - 0px); }
      #clients .content .img:nth-child(1), #clients .content .img:nth-child(2) {
        display: none; } }

#team {
  color: #161d2b;
  display: flex;
  flex-direction: column;
  padding: 80px 0px; }
  #team .title, #team p {
    margin-left: 60px !important; }
  #team .humans {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    perspective: 500px; }
    #team .humans .human {
      width: calc(100% / 4 - 40px);
      height: 260px;
      cursor: pointer;
      font-family: 'Muli';
      margin-left: 20px;
      margin-right: 20px;
      position: relative;
      margin-bottom: 40px;
      overflow: hidden;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
      #team .humans .human .img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: transform 15s cubic-bezier(0, 0, 0.26, 0.68), opacity 2s cubic-bezier(0, 0, 0.09, 0.87), left 1.5s cubic-bezier(0, 0, 0.09, 0.87); }
      #team .humans .human .info {
        width: 100%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        margin-top: 10px;
        color: white;
        position: relative;
        transition: transform 0.5s cubic-bezier(0, 0, 0.09, 0.87);
        z-index: 4; }
        #team .humans .human .info > * {
          margin: 0; }
      #team .humans .human .name {
        font-family: Source Sans Pro;
        font-weight: 600;
        font-size: 31px; }
      #team .humans .human .role {
        font-family: Source Sans Pro;
        font-weight: 300;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.8); }
      #team .humans .human::before, #team .humans .human::after {
        background: linear-gradient(0deg, rgba(75, 53, 53, 0) 50%, rgba(33, 33, 33, 0.35) 100%);
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
        width: 100%;
        z-index: 1; }
      #team .humans .human::after {
        background: linear-gradient(0deg, rgba(75, 53, 53, 0) 70%, rgba(255, 153, 102, 0.28) 100%);
        opacity: 0;
        top: -100%; }
      #team .humans .human:hover {
        transform: rotateY(2deg); }
        #team .humans .human:hover .img {
          transform: scale(1.4); }
        #team .humans .human:hover::before {
          opacity: 0;
          top: -100%; }
        #team .humans .human:hover::after {
          opacity: 1;
          top: 0%; }
        #team .humans .human:hover .info {
          transform: scale(0.8) translateX(-20px); }
  @media screen and (max-width: 1100px) {
    #team .humans .human {
      width: calc(100% / 3 - 40px); } }
  @media screen and (max-width: 1080px) {
    #team .humans .human {
      width: calc(100% / 2 - 40px); } }
  @media screen and (max-width: 720px) {
    #team .humans .human .info .name {
      font-size: 25px; }
    #team .humans .human .info .role {
      font-size: 16px; } }
  @media screen and (max-width: 645px) {
    #team .humans .human {
      height: calc(100vw / 4 + 50px); } }
  @media screen and (max-width: 600px) {
    #team .title, #team p {
      margin-left: 20px !important; }
    #team .humans {
      padding: 0 10px; }
      #team .humans .human {
        width: calc(100% / 2 - 20px);
        height: calc(100vw / 2 - 40px);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px; } }
  @media screen and (max-width: 445px) {
    #team .humans .human .info {
      margin-left: 10px; }
      #team .humans .human .info .name {
        font-size: 20px; }
      #team .humans .human .info .role {
        font-size: 15px; } }
  @media screen and (max-width: 415px) {
    #team .humans {
      perspective: 2000px; }
      #team .humans .human {
        width: 100%;
        height: calc(100vw / 2 + 40px); } }

#team .title, #clients .title, #works .title {
  font-family: 'Muli';
  font-size: 45px;
  font-weight: 200;
  margin: 0; }
#team p, #clients p, #works p {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  opacity: 0.8; }
@media screen and (max-width: 520px) {
  #team .title, #clients .title, #works .title {
    font-size: 30px; } }
@media screen and (max-width: 340px) {
  #team .title, #clients .title, #works .title {
    font-size: 25px; } }

footer {
  background-color: rgba(255, 230, 207, 0.1);
  font-family: 'Source Sans Pro';
  padding-top: 150px;
  position: relative; }
  footer #email {
    color: #343A47;
    height: 600px;
    position: relative;
    text-align: center;
    z-index: 7; }
    footer #email h3 {
      font-size: 30px;
      font-weight: 300; }
      @media screen and (max-width: 400px) {
        footer #email h3 {
          margin: 20px 10px; } }
    footer #email a {
      color: inherit;
      font-weight: 700;
      text-decoration: none;
      position: relative; }
      footer #email a::before {
        top: 0;
        height: 20px; }
  footer #direction {
    background-color: rgba(255, 230, 207, 0.25);
    height: calc(100% - 300px);
    position: absolute;
    right: 0;
    top: 150px;
    width: 52%;
    z-index: 6; }
    footer #direction .info {
      background-color: #232323;
      bottom: 0;
      color: white;
      height: 400px;
      position: absolute;
      text-align: center;
      width: 100%; }
      footer #direction .info h5 {
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 195px; }
      footer #direction .info a {
        font-weight: 300;
        opacity: 0.8;
        color: currentColor;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center; }
        footer #direction .info a svg {
          width: 25px;
          height: 25px;
          margin-right: 4px;
          transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
          margin-left: -29px;
          opacity: 0;
          fill: white; }
        footer #direction .info a:hover svg {
          margin-left: 0;
          opacity: 1; }
  footer .footer {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    height: 500px; }
    footer .footer .logo {
      height: 200px;
      margin-left: calc(25% - 130px);
      margin-top: 50px;
      width: 200px; }
      footer .footer .logo circle, footer .footer .logo .liquid {
        fill: white; }
      footer .footer .logo .lines path:not(.thread-border) {
        fill: none;
        stroke: white;
        stroke-width: 5;
        stroke-miterlimit: 10; }
      footer .footer .logo .thread-border {
        fill: white;
        stroke: white;
        stroke-width: 0; }
      footer .footer .logo .thread {
        stroke-width: 12 !important; }
    footer .footer .copy {
      bottom: 40px;
      color: #C6D0E6;
      font-weight: 200;
      position: absolute;
      text-align: center;
      width: 100%; }
  @media screen and (max-width: 820px) {
    footer #direction .info {
      bottom: 0px;
      text-align: left;
      right: 0;
      width: 100vw; }
      footer #direction .info h5, footer #direction .info a {
        margin-left: 40px; }
      footer #direction .info h5 {
        margin-top: 260px; }
      footer #direction .info a {
        justify-content: flex-start;
        margin-top: 9px; }
    footer .footer {
      position: relative; }
      footer .footer .logo {
        left: calc(50% - 100px);
        position: absolute;
        z-index: 9;
        top: -60px;
        margin-left: 0; }
      footer .footer .copy {
        font-size: 14px;
        opacity: 0.7; } }
  @media screen and (max-width: 520px) {
    footer #direction .info a {
      font-size: 14px; } }
  @media screen and (max-width: 400px) {
    footer #direction .info {
      height: 355px; }
    footer .footer .logo {
      top: -45px; } }

@keyframes a-circle-big {
  0% {
    transform: translateY(110px) scale(1);
    opacity: 1; }
  20% {
    transform: translateY(70px) scale(0.9); }
  40% {
    transform: translateX(15px) translateY(40px) scale(0.9); }
  60% {
    transform: translateX(25px) translateY(0px) scale(0.8); }
  80% {
    transform: translateX(8px) translateY(-20px) scale(0.6);
    opacity: 0.6; }
  100% {
    transform: translateX(17px) translateY(-60px) scale(0.4);
    opacity: 0; } }
@keyframes a-circle-little {
  0% {
    transform: translateY(150px) scale(1);
    opacity: 1; }
  20% {
    transform: translateY(70px) scale(0.9); }
  40% {
    transform: translateX(15px) translateY(40px) scale(0.9); }
  60% {
    transform: translateX(25px) translateY(0px) scale(0.8); }
  80% {
    transform: translateX(8px) translateY(-20px) scale(0.6);
    opacity: 0.6; }
  100% {
    transform: translateX(17px) translateY(-60px) scale(0.4);
    opacity: 0; } }

/*# sourceMappingURL=home.css.map */
