@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
#menuToggle {
  cursor: pointer;
  width: 40px;
  height: 40px;
  overflow: hidden;
  padding: 10px 20px;
  right: 30px;
  top: 30px;
  transition: top 0.5s cubic-bezier(0, 0, 0.09, 0.87), right 0.5s cubic-bezier(0, 0, 0.09, 0.87), width 0.5s cubic-bezier(0, 0, 0.09, 0.87);
  white-space: nowrap;
  position: fixed;
  z-index: 99999; }
  #menuToggle svg {
    height: 40px;
    width: 40px;
    overflow: visible;
    transform: rotateY(180deg);
    transition: transform 0.5s cubic-bezier(0, 0, 0.09, 0.87), opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #menuToggle svg path {
      transition: transform 0.5s cubic-bezier(0, 0, 0.09, 0.87), opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
      #menuToggle svg path:nth-child(2) {
        transform: translateY(10px);
        transition-delay: 0.2s !important; }
      #menuToggle svg path:nth-child(3) {
        transform: translateY(20px);
        transition-delay: 0.3s !important; }
  #menuToggle .text {
    font-family: Source Sans Pro;
    font-size: 28px;
    font-weight: 300;
    transform: translateY(-13px) translateX(-10px) scale(0.8);
    display: inline-block;
    opacity: 0;
    font-size: 23px;
    transition: transform 0.5s cubic-bezier(0, 0, 0.09, 0.87), opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #menuToggle .text::before, #menuToggle .text::after {
      content: '';
      width: 40px;
      height: 4px;
      top: -6px;
      background-color: #fe7734;
      display: inline-block;
      position: absolute;
      right: -45px;
      opacity: 1;
      transition: transform 0.5s cubic-bezier(0, 0, 0.09, 0.87), opacity 1s cubic-bezier(0, 0, 0.09, 0.87);
      transform: translateY(-13px) translateX(-60px) scale(1); }
    #menuToggle .text::before {
      transform: translateY(20px) rotateZ(45deg) scale(0.6); }
    #menuToggle .text::after {
      transform: translateY(20px) rotateZ(-45deg) scale(0.6); }
  #menuToggle:not(.can-close):hover svg {
    transform: rotateY(180deg) scale(0.9);
    opacity: 0.8; }
    #menuToggle:not(.can-close):hover svg path:nth-child(1) {
      transform: translateY(3px) translateX(5px); }
    #menuToggle:not(.can-close):hover svg path:nth-child(3) {
      transform: translateY(17px) translateX(2px); }
  @media screen and (max-width: 460px) {
    #menuToggle .text {
      color: transparent; }
      #menuToggle .text::before {
        transform: translateY(20px) rotateZ(45deg) scale(0.6) !important; }
      #menuToggle .text::after {
        transform: translateY(20px) rotateZ(-45deg) scale(0.6) !important; } }

body {
  font-family: 'Open Sans';
  margin: 0; }
  body.sticky header {
    background-color: white;
    box-shadow: 0 0 5px rgba(88, 70, 61, 0.07);
    height: 40px;
    padding: 15px 30px; }
    body.sticky header .logo {
      padding: 0; }
      body.sticky header .logo .icon {
        margin-left: 0;
        opacity: 1; }
      body.sticky header .logo img {
        opacity: 0;
        transform: translateX(-10px) scale(0.99); }
      body.sticky header .logo:hover .icon {
        margin-right: 0; }
      body.sticky header .logo:hover img {
        opacity: 1;
        transform: translateX(-4px) scale(1); }
  body.sticky #menuToggle {
    right: 0px;
    top: 5px; }
  body.menu-show {
    overflow-y: hidden; }
    body.menu-show #menuToggle {
      width: 80px;
      right: 30px;
      top: 30px; }
      body.menu-show #menuToggle path {
        transform: translateX(-30px);
        opacity: 0; }
        body.menu-show #menuToggle path:nth-child(2) {
          transform: translateY(10px) translateX(-30px); }
        body.menu-show #menuToggle path:nth-child(3) {
          transform: translateY(20px) translateX(-30px); }
      body.menu-show #menuToggle.can-close .text {
        transform: translateY(-13px) translateX(-40px) scale(1);
        opacity: 1; }
      body.menu-show #menuToggle.can-close:hover .text::before, body.menu-show #menuToggle.can-close:hover .text::after {
        opacity: 0.8;
        transform: translateY(20px) scale(0.6); }

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0; }

.flex {
  display: flex; }

.img {
  background-position: center;
  background-size: cover; }

.fadein-bg {
  position: relative; }
  .fadein-bg::before {
    background-color: #343a47;
    content: '';
    height: 30px;
    top: 5px;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    transform: translateX(-10px) translateY(-2px) scale(0.99);
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    width: 100%;
    z-index: -1; }
  .fadein-bg:hover::before {
    opacity: 0.1;
    transform: translateX(-10px) translateY(-4px) scale(1); }

header {
  align-items: center;
  box-shadow: 0 0 5px rgba(88, 70, 61, 0);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
  width: calc(100% - 60px);
  z-index: 99; }
  header .logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 10px;
    width: auto; }
    header .logo .icon {
      box-sizing: border-box;
      height: 40px;
      margin-left: -50px;
      margin-right: 0px;
      opacity: 0;
      padding: 5px;
      transition: margin-left 0.5s cubic-bezier(0, 0, 0.09, 0.87), margin-right 0.5s cubic-bezier(0, 0, 0.09, 0.87) 0.3s, opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
      header .logo .icon circle, header .logo .icon .liquid {
        fill: #343a47; }
      header .logo .icon .lines path:not(.thread-border) {
        fill: none;
        stroke: #343a47;
        stroke-width: 14;
        stroke-miterlimit: 10; }
      header .logo .icon .thread-border {
        fill: #343a47;
        stroke: #343a47;
        stroke-width: 1px; }
    header .logo img {
      height: calc(100% - 20px);
      transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87), transform 0.5s cubic-bezier(0, 0, 0.09, 0.87);
      width: 80px; }
    header .logo:hover .icon {
      opacity: 1;
      margin-left: 0;
      margin-right: 10px; }
  header.transparent {
    background-color: transparent !important;
    box-shadow: 0 0 5px rgba(88, 70, 61, 0) !important; }

#menu {
  position: fixed;
  height: 100vh;
  top: -100%;
  min-width: 100%;
  z-index: 999;
  overflow-y: auto;
  background-color: white;
  opacity: 0;
  font-family: Source Sans Pro;
  transition: top 0.5s cubic-bezier(0, 0, 0.09, 0.87), opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
  #menu .header {
    display: flex;
    align-items: center;
    height: 80px;
    margin-top: 30px;
    margin-left: 30px; }
    #menu .header .logo {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 100%;
      width: auto; }
      #menu .header .logo .icon {
        box-sizing: border-box;
        height: 60px;
        margin-left: 0;
        margin-right: 10px;
        padding: 5px; }
        #menu .header .logo .icon circle, #menu .header .logo .icon .liquid {
          fill: black; }
        #menu .header .logo .icon .lines path:not(.thread-border) {
          fill: none;
          stroke: black;
          stroke-width: 14;
          stroke-miterlimit: 10; }
        #menu .header .logo .icon .thread-border {
          fill: black;
          stroke: black;
          stroke-width: 1px; }
      #menu .header .logo img {
        width: 50px; }
  #menu .title {
    font-weight: 300;
    font-size: 20px;
    opacity: 0.6;
    margin-bottom: 20px;
    cursor: default; }
    #menu .title strong {
      font-weight: 600;
      color: #FF9966; }
  #menu .contenido {
    display: flex;
    justify-content: space-between;
    margin: 0 30px; }
  #menu nav {
    margin-bottom: 30px; }
    #menu nav > div {
      margin-top: 60px; }
      #menu nav > div > * {
        display: block; }
      #menu nav > div a {
        margin-top: 20px;
        text-decoration: none;
        font-size: 31px;
        color: black;
        position: relative; }
        #menu nav > div a::before {
          background-color: #fe7734; }
  #menu a, #menu .title, #menu span {
    transition: opacity 15s cubic-bezier(0, 0, 0.09, 0.87), transform 1.5s cubic-bezier(0, 0, 0.09, 0.87);
    transform: translateX(-10px);
    opacity: 0; }
  #menu .contacto {
    display: flex;
    flex-direction: column;
    margin-right: 70px; }
    #menu .contacto .title {
      font-size: 34px;
      margin-top: 60px;
      margin-bottom: 40px; }
    #menu .contacto .title + span {
      font-size: 22px;
      margin-bottom: 10px; }
    #menu .contacto .email {
      font-weight: bold;
      font-size: 26px;
      color: black;
      text-decoration: none;
      margin-bottom: 60px;
      position: relative; }
      #menu .contacto .email::before {
        top: 2px; }
    #menu .contacto .info {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-bottom: 20px;
      text-decoration: none;
      color: black; }
      #menu .contacto .info svg {
        width: 25px;
        height: 25px;
        margin-right: 4px;
        transition: fill 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #menu .contacto .location:hover svg {
      fill: #fe7734; }
    #menu .contacto .flex {
      margin-bottom: 20px; }
      #menu .contacto .flex .info {
        margin-right: 20px; }
    #menu .contacto .social {
      display: flex;
      align-items: center; }
      #menu .contacto .social a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 20px; }
        #menu .contacto .social a svg {
          width: 100%;
          height: 100%;
          transition: transform 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
        #menu .contacto .social a::before {
          height: 100%;
          padding: 0;
          border-radius: 50%;
          background-color: #fe7734;
          left: 8px; }
        #menu .contacto .social a:hover::before {
          transform: translateX(-10px) translateY(-5px) scale(1.3); }
        #menu .contacto .social a:hover svg {
          transform: scale(0.8); }
  #menu.show {
    top: 0;
    opacity: 1; }
    #menu.show a, #menu.show .title, #menu.show span {
      transform: translateX(0px);
      opacity: 1; }
  @media screen and (max-width: 890px) {
    #menu .contenido {
      flex-direction: column;
      padding-bottom: 40px; }
      #menu .contenido .contacto {
        margin-right: 0; } }
  @media screen and (max-width: 460px) {
    #menu .contacto .title {
      font-size: 29px; }
      #menu .contacto .title + span {
        font-size: 19px; }
    #menu .contacto .email {
      font-size: 20px; }
    #menu .contacto .info {
      font-size: 15px; } }
  @media screen and (max-width: 360px) {
    #menu nav > div a {
      margin-top: 20px;
      text-decoration: none;
      font-size: 25px; }
    #menu .contacto .email {
      font-size: 17px; }
    #menu .contacto .location {
      max-width: 216px;
      white-space: nowrap;
      overflow: hidden; } }

.button-more {
  cursor: pointer;
  padding: 6px 15px;
  position: relative;
  text-align: center;
  width: 80px; }
  .button-more .text {
    display: inline-block;
    font-weight: 400;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
  .button-more::after {
    background-color: #343a47;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87), transform 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    transform: scale(0.9);
    width: 100%;
    z-index: -1; }
  .button-more:hover::after {
    opacity: 1;
    transform: scale(1); }
  .button-more:hover .text {
    color: white;
    opacity: 0.8; }

.title {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  margin-bottom: 40px; }

/*# sourceMappingURL=style.css.map */
