@import 'variables';

#hero{
	$curve: cubic-bezier(0,0,0.09,0.87);
	display: flex;
	height: 100vh;
	padding: 0 8%;
	align-items: center;
	justify-content: space-between;
	.logo{
		height: 100vh;
		circle, .liquid{
			fill: #FE7734;
		}
		.lines path:not(.thread-border){
			fill: none;
			stroke: black;
			stroke-width:5;
			stroke-miterlimit:10;
		}
		.thread-border{
			fill: black;
		    stroke: #000000;
		    stroke-width: 0;
		}
		.thread{
			stroke-width: 12 !important;
		}
		.big{
			animation: a-circle-big 4s linear infinite;
			transform: translateY(110px);
			transform-origin: center;
		}
		.little{
			animation: a-circle-little 4s 2s linear infinite;
			transform: translateY(150px);
			transform-origin: center;
		}
	}
	h3{
		font-family: 'Source Sans Pro';
		font-size: 50px;
		font-weight: 300;
	}
	.button{
		align-items: center;
		border: none;
		cursor: pointer;
		display: flex;
    	font-family: 'Open Sans';
		font-size: 18px;
		font-weight: 300;
		height: 48px;
		justify-content: center;
		position: relative;
		width: 240px;
		transition: color 0.5s $curve;
		color: white;
		&::after{
    		background-color: $naranja;
			content: '';
			height: 100%;
			left: 0;
			opacity: 1;
			position: absolute;
			top: 0;
			transition: transform 0.5s $curve, opacity 0.5s $curve;
			width: 100%;
			z-index: -1;
		}
		&:hover{
			color: #ff9966;
			&::after{
				transform: scale(0.99) translateY(2px);
				opacity: 0.1;
			}
		}

	}
	@media screen and (max-width: 730px){
		h3{
			min-width: 270px;
    		font-size: 48px;
		}
		#toAbout{
			position: absolute;
		    bottom: 48px;
		    left: calc(50% - 240px/2);
		}
		.logo{
			width: 192vw;
			height: auto;
		}
	}
	@media screen and (max-width: 520px){
		h3{
			font-size: 32px;
		    max-width: 200px;
		    width: 200px;
		    white-space: normal;
		    display: inline-block;
		    transform: translateY(-30px);
		}
		#toAbout{
			display: none;
		}
		.logo{
			width: 70vw;
			position: absolute;
		    right: 0;
		    transform: translateY(40px);
		}
	}
}
#about{
	padding: 80px 60px;
	.title{	
		font-family: 'Muli';
	    font-size: 45px;
	    font-weight: 200;
	    margin: 0;
	}
	p{
		font-weight: 300;
		opacity: 0.8;
	}
	.item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 80px 0;
		p{
			font-family: Open Sans;
			font-weight: 300;
			font-size: 18px;
			max-width: calc(100% - 450px);
		}
		.slider{
			width: 220px;
			height: 220px;
			position: relative;
			overflow: hidden;
			.slide{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				.bg, .icon{
					width: 100%;
					height: 100%;
					background-position: center;
					transition: all 1.5s $curve;
					opacity: 0;
					background-repeat: no-repeat;
					transform: translateX(100%);
				}
				.bg{
					background-size: cover;
					position: absolute;
					z-index: 0;
					left: 0;
					overflow: hidden;
					border-radius: 50%;
				}
				.icon{
					background-size: 100px;
					transition-delay: 0.2s !important;
					z-index: 3;
					position: relative;
				}
				&.active{
					.bg, .icon{
						opacity: 1;
						transform: translateX(0%);
					}
				}
			}
		}
	}
	.item + .title{
		margin-top: 200px;
	}
	#services{
		display: flex;
		flex-wrap: wrap;
		margin-top: 60px;
		.service{
			align-items: center;
			display: flex;
			margin-top: 20px;
		    margin-left: 20px;
		    width: calc(50% - 20px);
		    height: 250px;
		    box-sizing: border-box;
    		padding: 20px;
			transition: all 0.5s $curve;
			border-radius: 4px;
			&:nth-child(odd){
				margin-left: 0;
			}
			.icon{
				height: 100px;
			    width: 100px;
			    margin-right: 30px;
			    fill-rule: evenodd;
			    stroke: transparent;
			    stroke-width: 1;
			    overflow: visible;
			    transition: fill 0.5s $curve, stroke 0.5s $curve;
			}
			p{
				margin: 0;
				margin-top: 3px;
				max-width: 600px;
				color: black;
			}
			.name{
				margin: 0;
				font-size: 26px;
			}
			&[name="prototipamos"]{
				.icon{
					stroke-width: 12px;
				}
			}
			&:hover{
				.icon{
					fill: transparent !important;
				}
				&[name="creamos"]{
					$bg: #ff9966;
					$color: #FE7734;
					background-color: rgba(255, 153, 102, 0.2);
					box-shadow: 0 0 10px 3px rgba(255, 153, 102, 0.09);
					color: $color;
					.icon{
						fill: $bg;
						stroke: $color;
					}
				}
				&[name="asesoramos"]{
					$bg: #74ec9e;
					$color: #37e272;
					background-color: rgba(116, 236, 158, 0.28);
					box-shadow: 0 0 10px 3px rgba(116, 236, 158, 0.28);
					color: $color;
					.icon{
						fill: $bg;
						stroke: $color;

					}
				}
				&[name="acompanamos"]{
					$bg: #ec7480;
					$color: #f13b4d;
					background-color: rgba(236, 116, 128, 0.21);
					box-shadow: 0 0 10px 3px rgba(236, 116, 128, 0.21);
					color: $color;
					.icon{
						fill: $bg;
						stroke: $color;
					}
				}
				&[name="prototipamos"]{
					$bg: #5185f3;
					$color: #0f4ac7;					
					background-color: rgba(81, 133, 243, 0.23);
					box-shadow: 0 0 10px 3px rgba(81, 133, 243, 0.23);
					color: $color;
					.icon{
						fill: $bg;
						stroke: $color;
					}
				}

			}
		}
	}
	@media screen and (max-width: 1000px){
		.item{
			flex-direction: column-reverse;
			.slider{
				margin-bottom: 40px;
			}
			p{
				max-width: 90%;
			}
		}
	}
	@media screen and (max-width: 900px){
		#services{
			flex-direction: column;
			.service{
				width: 100%;
				margin-left: 0 !important;
			}
		}
	}
	@media screen and (max-width: 520px){
		padding: 80px 20px;
		.title {
		    font-size: 30px;
		}
		.item{
			p{
				font-size: 15px;
			}
		}
		
	}
	@media screen and (max-width: 420px){
		.item .slider {
			width: 120px;
			height: 120px;
			.slide .icon {
		    	background-size: 50px;
		    }
		}
		#services{
			.service{
				flex-direction: column;
    			justify-content: center;
    			margin-bottom: 20px;
				.icon{
	    			width: 60px;
					height: 60px;
					margin: 0;
    				margin-bottom: 24px;
				}
				p{
					font-size: 14px;
				}
			}
		}

	}
}
#works{
	background-color: #F4F4F4;
	display: flex;
	flex-direction: column;
	padding: 40px 60px;
	$max-h: 700px;
	perspective: 500px;
	.title + p{
		/*font-family: 'Source Sans Pro';
		font-weight: 600;
		font-size: 18px;
		margin: 0;*/
	    margin-bottom: 40px;
	}
	.project{
		align-items: flex-start;
		cursor: pointer;
		display: flex;
		height: 50vh;
		justify-content: flex-end;	
		margin-bottom: 10px;
		margin-left: 10px;
		max-height: $max-h;
		min-height: $max-h - 100;
		overflow: hidden;
		position: relative;
		transition: all 0.5s $curve;
		width: 50%;
		.img{
			height: 100%;
			left: 10%;
			opacity: 0;
			position: absolute;
			top: 0;
			transform: scale(1.2);
			transition: transform 15s cubic-bezier(0, 0, 0.26, 0.68), opacity 2s $curve, left 1.5s $curve;
			width: 100%;
			background-position-y: 0;
			z-index: 0;
			&.active{
				opacity: 1;
				left: 0;
			}
		}
		.info{
			align-items: center;
			color: white; 
			display: flex;
			font-family: 'Source Sans Pro';
			font-size: 22px;
			font-weight: 400;
			//justify-content: flex-end;
			padding: 20px;
			position: relative;
			transition: transform 0.5s $curve;
			z-index: 4;
			svg{
				height: 20px;
				width: 20px;
				fill: white;
				margin-right: 6px;
				transition: fill 0.5s $curve, transform 0.5s $curve;
			}
			.name{
				transition: all 0.5s $curve;
			}
		}
		&::before, &::after{
			background: linear-gradient(0deg, rgba(75, 53, 53, 0) 50%, rgba(33, 33, 33, 0.35) 100%);
			content: '';
			height: 100%;
			position: absolute;
			top: 0;
			transition: all 0.5s $curve;
			width: 100%;
			z-index: 1;
		}
		&::after{
			background: linear-gradient(0deg, rgba(75, 53, 53, 0) 70%, rgba(255, 153, 102, 0.28) 100%);
			opacity: 0;
			top: -100%;
		}
		&:hover{
			transform: rotateY(1deg);
			.img{
				transform: scale(1.4);
			}
			&::before{
				opacity: 0;
				top: -100%;
			}
			&::after{
				opacity: 1;
				top: 0%;
			}
			&.invert .info{
				color: black;
				svg{
					fill: black;
				}
			}
			.name{
				//font-weight: 300;
			}
			.info {
			    transform: scale(0.8) translateX(-20px);
				svg{
					transform: scale(0.7);
				}
			}
		}
		&.big{
			min-width: 100%;
			width: 100%;
		}
	}
	> .flex{
		flex-wrap: wrap;
		> .project{
			margin-left: 0;
		}
		> div{
			width: 50%;
			height: 50vh;
			max-height: $max-h;
			min-height: $max-h - 100;
			.project{
				height: calc(100% / 2 - 5px);
				max-height: none;
				min-height: unset;
				width: calc(100% - 10px);
			}
		}
		@media screen and (max-width: 1400px){
			/*> div {
			    width: calc(100% / 3 - (20px / 3)) !important;
			    height: 25vh;
			    max-height: 700px;
			    min-height: 400px;
			}
			.project.big{
				margin-left: 10px;
				min-width: auto;
			}*/
		}
	}
	.button-more{
		align-self: center;
		margin: 40px 0;
	}
	.inprogress li {
	    margin-top: 15px;
	    margin-left: 5px;
	    font-family: 'Open Sans';
	    font-size: 16px;
	    font-weight: 300;
	    opacity: 0.8;
	    &::before {
		    content: '';
		    width: 8px;
		    height: 8px;
		    border-radius: 50%;
		    display: inline-block;
		    background-color: #5185f3;
		    margin-right: 9px;
		    transform: translateY(-3px);
		}
	}
	@media screen and (max-width: 740px){
		> .flex > div {
		    width: 100%;
		    .project {
			    width: 100%;
			    margin-left: 0;
			}
		}
		> .flex > .project:last-child{
			margin-top: 10px;
		}
	}
	@media screen and (max-width: 560px){
		padding: 40px 20px;
	}
	@media screen and (max-width: 440px){
		> .flex > .project{
			min-height: 300px;
		}
	}
}

#clients{
	padding: 80px 60px;
	padding-top: 140px;
	.content{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.img{
			background-position: center;
			background-repeat: no-repeat;
			background-size: 180px;
			height: 100px;
			margin-top: 140px;
			width: calc(100% / 4 - 0px);
			transition: opacity 1.5s $curve;
			@media screen and (max-width: 645px){

				width: calc(100% / 4 - 0px);
			}
		}
	}
	@media screen and (max-width: 515px){
    	padding: 80px 20px;
	}
	@media screen and (max-width: 480px){
		.content .img{
			background-size: 150px;
			margin-top: 60px;
			width: calc(100% / 2 - 0px);
			&:nth-child(1), &:nth-child(2){
				display: none;
			}
		}
	}

}
#team{
	color: #161d2b;
	display: flex;
	flex-direction: column;
	padding: 80px 0px;
	.title, p{	
		margin-left: 60px !important;
	}
	.humans{
    	display: flex;
    	flex-wrap: wrap;
		margin-top: 40px;
		width: 100%;
		padding: 0 40px;
		box-sizing: border-box;
		perspective: 500px;
		.human{
			width: calc(100% / 4 - 40px);
			height: 260px;
    		cursor: pointer;
			font-family: 'Muli';
			margin-left: 20px;
			margin-right: 20px;
    		position: relative;
    		margin-bottom: 40px;
    		overflow: hidden;
    		transition: all 0.5s $curve;
			.img{
				width: 100%;
				height: 100%;
				background-position: center;
				background-size: cover;
				position: absolute;
				top: 0;
				left: 0;		
				z-index: 0;		
				transition: transform 15s cubic-bezier(0, 0, 0.26, 0.68), opacity 2s $curve, left 1.5s $curve;				
			}
			.info{
				width: 100%;

				align-items: flex-start;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 20px;
				margin-top: 10px;
				color: white;
				position: relative;
				transition: transform 0.5s $curve;
				z-index: 4;
				> *{
					margin: 0;
				}
			}
			.name{			
				font-family: Source Sans Pro;
				font-weight: 600;
				font-size: 31px;
			}
			.role{
				font-family: Source Sans Pro;
				font-weight: 300;
				font-size: 18px;

				color: rgba(255, 255, 255, 0.8);
			}
			&::before, &::after{
				background: linear-gradient(0deg, rgba(75, 53, 53, 0) 50%, rgba(33, 33, 33, 0.35) 100%);
				content: '';
				height: 100%;
				position: absolute;
				top: 0;
				transition: all 0.5s $curve;
				width: 100%;
				z-index: 1;
			}
			&::after{
				background: linear-gradient(0deg, rgba(75, 53, 53, 0) 70%, rgba(255, 153, 102, 0.28) 100%);
				opacity: 0;
				top: -100%;
			}
			&:hover{
				transform: rotateY(2deg);
				.img{
					transform: scale(1.4);
				}
				&::before{
					opacity: 0;
					top: -100%;
				}
				&::after{
					opacity: 1;
					top: 0%;
				}
				.info {
				    transform: scale(0.8) translateX(-20px);
				}
			}
		}
	}
	@media screen and (max-width: 1100px){
		.humans .human {
    		width: calc(100% / 3 - 40px);
    	}
	}
	@media screen and (max-width: 1080px){
		.humans .human {
    		width: calc(100% / 2 - 40px);
    	}
	}
	@media screen and (max-width: 720px){
		.humans .human{
			.info{
				.name{
					font-size: 25px;
				}
				.role{
					font-size: 16px;
				}
			}
		}
	}
	@media screen and (max-width: 645px){
		.humans .human{
			height: calc(100vw / 4 + 50px);
		}
	}
	@media screen and (max-width: 600px){
		.title, p {
		    margin-left: 20px !important;
		}
		.humans {
			padding: 0 10px;
			.human{
				width: calc(100% / 2 - 20px);
				height: calc(100vw / 2 - 40px);
				margin-left: 10px;
    			margin-right: 10px;	
    			margin-bottom: 20px;
			}
		}
	}

	@media screen and (max-width: 445px){
		.humans .human{
			.info{
				margin-left: 10px;
				.name{
					font-size: 20px;
				}
				.role{
					font-size: 15px;
				}
			}
		}
	}
	@media screen and (max-width: 415px){
		.humans {
			perspective: 2000px;
			.human{
				width: 100%;
	    		height: calc(100vw / 2 + 40px);
	    	}
		}
	}
}
#team, #clients, #works{
	.title{	
		font-family: 'Muli';
		font-size: 45px;
		font-weight: 200;
		margin: 0;
	}
	p{
		font-family: 'Open Sans';
		font-size: 16px;
		font-weight: 300;
		opacity: 0.8;
	}
	@media screen and (max-width: 520px){
		.title{
			font-size: 30px;
		}
	}
	@media screen and (max-width: 340px){
		.title{
			font-size: 25px;
		}
	}
}
footer{
	background-color: rgba(255, 230, 207, 0.1);
	font-family: 'Source Sans Pro';
	padding-top: 150px;
	position: relative;
	#email{
		color: #343A47;
		height: 600px;
		position: relative;
		text-align: center;
		z-index: 7;
		h3{
			font-size: 30px;
			font-weight: 300;
			@media screen and (max-width: 400px){
				margin: 20px 10px;
			}

		}
		a{
			color: inherit;
			font-weight: 700;
			text-decoration: none;
			position: relative;
			&::before {
			    top: 0;
			    height: 20px;
			}
		}
	}
	#direction{
		background-color: rgba(255, 230, 207, 0.25);
		height: calc(100% - 300px);
		position: absolute;
		right: 0;
		top: 150px;
    	width: 52%;
		z-index: 6;
		.info{
			background-color: #232323;
			bottom: 0;
			color: white;
			height: 400px;
			position: absolute;
			text-align: center;
			width: 100%;
			h5{
				font-size: 26px;
				font-weight: 400;
			    margin-bottom: 0;
				margin-top: 195px;
			}
			a{
				font-weight: 300;
				opacity: 0.8;
				color: currentColor;
				text-decoration: none;
				display: flex;
				align-items: center;
				justify-content: center;
				svg{
					width: 25px;
					height: 25px;
					margin-right: 4px;
					transition: all 0.5s $curve;
					margin-left: -29px;
					opacity: 0;
					fill: white;
				}
				&:hover{
					svg{
						margin-left: 0;
						opacity: 1;
					}
				}
			}
		}
	}
	.footer{
		background-color: #212121;
		display: flex;
		flex-direction: column;
		height: 500px;
		.logo{
			height: 200px;
			margin-left: calc(25% - 130px);
			margin-top: 50px;
			width: 200px;
			circle, .liquid{
				fill: white;
			}
			.lines path:not(.thread-border){
				fill: none;
				stroke: white;
				stroke-width:5;
				stroke-miterlimit:10;
			}
			.thread-border{
				fill: white;
			    stroke: white;
			    stroke-width: 0;
			}
			.thread{
				stroke-width: 12 !important;
			}
		}
		.copy{
			bottom: 40px;
			color: #C6D0E6;
			font-weight: 200;
			position: absolute;
			text-align: center;
			width: 100%;
		}
	}
	@media screen and (max-width: 820px){
		#direction{
			.info{
				bottom: 0px;
			    text-align: left;
			    right: 0;
			    width: 100vw;
			    h5, a{
			    	margin-left: 40px;
			    }
			    h5{
			    	margin-top: 260px;
			    }
			    a{
			    	justify-content: flex-start;
			    	margin-top: 9px;
			    }
			}
		}
		.footer {
			position: relative;
			.logo{
				left: calc(50% - 100px);
			    position: absolute;
			    z-index: 9;
			    top: -60px;
			    margin-left: 0;

			}
			.copy{
			    font-size: 14px;
			    opacity: 0.7;
			}
		}
	}
	@media screen and (max-width: 520px){
		#direction{
			.info a{
				font-size: 14px;
			}
		}
	}
	@media screen and (max-width: 400px){
		#direction .info{
			height: 355px;
		}
		.footer .logo{
			top: -45px;
		}
	}
}
@keyframes a-circle-big {
	0%{
		transform: translateY(110px) scale(1);
		opacity: 1;
	}
	20%{
		transform: translateY(70px)scale(0.9);
	}
	40%{
		transform: translateX(15px) translateY(40px) scale(0.9);
	}
	60%{
		transform: translateX(25px) translateY(0px) scale(0.8);
	}
	80%{
		transform: translateX(8px) translateY(-20px) scale(0.6);
		opacity: 0.6;
	}
	100%{
		transform: translateX(17px) translateY(-60px) scale(0.4);
		opacity: 0;
	}
}
@keyframes a-circle-little {
	0%{
		transform: translateY(150px) scale(1);
		opacity: 1;
	}
	20%{
		transform: translateY(70px)scale(0.9);
	}
	40%{
		transform: translateX(15px) translateY(40px) scale(0.9);
	}
	60%{
		transform: translateX(25px) translateY(0px) scale(0.8);
	}
	80%{
		transform: translateX(8px) translateY(-20px) scale(0.6);
		opacity: 0.6;
	}
	100%{
		transform: translateX(17px) translateY(-60px) scale(0.4);
		opacity: 0;
	}
}