@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
#menuToggle{
	$size: 40px;
	cursor: pointer;
	width: $size;
	height: $size;
	overflow: hidden;
	padding: 10px 20px;
	right: 30px;
	top: 30px;
	transition: top .5s $curve, right .5s $curve, width .5s $curve;
	white-space: nowrap;
	position: fixed;
	z-index: 99999;
	svg{
		height: $size;
		width: $size;
		overflow: visible;
		transform: rotateY(180deg);
		transition: transform 0.5s $curve, opacity 0.5s $curve;		
		path{
			transition: transform 0.5s $curve, opacity 0.5s $curve;
			&:nth-child(2) {
				transform: translateY(10px);
				transition-delay: 0.2s !important;
			}
			&:nth-child(3) {
				transform: translateY(20px);
				transition-delay: 0.3s !important;
			}
		}
	}
	.text{
		font-family: Source Sans Pro;
		font-size: 28px;
		font-weight: 300;
		transform: translateY(-13px) translateX(-10px) scale(0.8);
		display: inline-block;
		opacity: 0;
		font-size: 23px;
		transition: transform 0.5s $curve, opacity 0.5s $curve;
		&::before, &::after {
			content: '';
			width: 40px;
			height: 4px;
			top: -6px;
			background-color: #fe7734;
			display: inline-block;
			position: absolute;
			right: -45px;
			opacity: 1;
			transition: transform 0.5s $curve, opacity 1s $curve;
			transform: translateY(-13px) translateX(-60px) scale(1);
		}
		&::before{
			transform: translateY(20px) rotateZ(45deg) scale(0.6);
		}
		&::after {
		   	transform: translateY(20px) rotateZ(-45deg) scale(0.6);
		}
	}
	&:not(.can-close):hover{
		svg{
			transform: rotateY(180deg) scale(0.9);
			opacity: 0.8;
			path{
				&:nth-child(1) {
					transform: translateY(3px) translateX(5px);
				}
				&:nth-child(3) {
					transform: translateY(17px) translateX(2px);
				}
			}
		}
	}
	@media screen and (max-width: 460px){
		.text{
			color: transparent;
			&::before{
				transform: translateY(20px) rotateZ(45deg) scale(0.6) !important;
			}
			&::after {
			   	transform: translateY(20px) rotateZ(-45deg) scale(0.6) !important;
			}
		}
	}
}

body{
	font-family: 'Open Sans';
	margin: 0;
	&.sticky {
		header{
			background-color: white;
			box-shadow: 0 0 5px rgba(88, 70, 61, 0.07);
			height: 40px;
			padding: 15px 30px;
			.logo {
				padding: 0;
				.icon{
					margin-left: 0;
					opacity: 1;
				}
				img{
					opacity: 0;
					transform: translateX(-10px) scale(0.99);
				}
				&:hover{
					.icon{
						margin-right: 0;
					}
					img{
						opacity: 1;
						transform: translateX(-4px) scale(1);
					}
				}
			}
		}
		#menuToggle{
			right: 0px;
			top: 5px;
		}
	}
	&.menu-show{
		overflow-y: hidden;
		#menuToggle{
			width: 80px;
			right: 30px;
			top: 30px;
			path{
				$x: -30px;
				transform: translateX($x);
				opacity: 0;
				&:nth-child(2) {
					transform: translateY(10px) translateX($x);
				}
				&:nth-child(3) {
					transform: translateY(20px) translateX($x);
				}
			}
			&.can-close	.text{
				transform: translateY(-13px) translateX(-40px) scale(1);
				opacity: 1;
			}
			&.can-close:hover{
				.text{
					&::before, &::after{
						opacity: 0.8;
						transform: translateY(20px) scale(0.6);
					}
					
				}
			}

		}
	}
	
}
ul, ol, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.flex{
	display: flex;
}
.img{
	background-position: center;
	background-size: cover;
}
.fadein-bg{
	position: relative;
	&::before {
		background-color: rgb(52, 58, 71);
		content: '';
		height: 30px;
		top: 5px;
		opacity: 0;
		padding: 5px 10px;
		position: absolute;
		transform: translateX(-10px) translateY(-2px) scale(0.99);
		transition: all 0.5s $curve;
		width: 100%;
		z-index: -1;
	}
	&:hover::before{
		opacity: 0.1;
		transform: translateX(-10px) translateY(-4px) scale(1);
	}
}
header{
	align-items: center;
	box-shadow: 0 0 5px rgba(88, 70, 61, 0);
	display: flex;
	height: 60px;
	justify-content: space-between;
	padding: 30px;
	position: fixed;
	transition: all 0.5s $curve;
	width: calc(100% - 60px);
	z-index: 99;
	.logo{
		align-items: center;
		cursor: pointer;
		display: flex;
		height: 100%;
		padding: 0 10px;
		width: auto;
		.icon{
			box-sizing: border-box;
			height: 40px;
			margin-left: -50px;
			margin-right: 0px;
			opacity: 0;
			padding: 5px;
			transition: margin-left 0.5s $curve, margin-right 0.5s $curve 0.3s, opacity 0.5s $curve;
			circle, .liquid{
				fill: #343a47;
			}
			.lines path:not(.thread-border){
				fill: none;
				stroke: #343a47;
				stroke-width: 14;
				stroke-miterlimit:10;
			}
			.thread-border{
				fill: #343a47;
				stroke: #343a47;
				stroke-width: 1px;
			}
		}
		img{
			height: calc(100% - 20px);
			transition: opacity 0.5s $curve, transform 0.5s $curve;
			width: 80px;
		}
		&:hover{
			.icon{
				opacity: 1;
				margin-left: 0;
				margin-right: 10px;
			}
		}
	}
	&.transparent{
		background-color: transparent !important;
		box-shadow: 0 0 5px rgba(88, 70, 61, 0) !important;
	}
}
#menu{
	position: fixed;
	height: 100vh;
	top: -100%;
	min-width: 100%;
	z-index: 999;
	overflow-y: auto;
	background-color: white;
	$margin: 30px;
	opacity: 0;
	font-family: Source Sans Pro;
	transition: top 0.5s $curve, opacity 0.5s $curve;
	.header{
		display: flex;
		align-items: center;
		height: 80px;
		margin-top: $margin;
		margin-left: $margin;
		.logo{
			align-items: center;
			cursor: pointer;
			display: flex;
			height: 100%;
			width: auto;
			.icon{
				box-sizing: border-box;
				height: 60px;
				margin-left: 0;
				margin-right: 10px;
				padding: 5px;
				circle, .liquid{
					fill: black;
				}
				.lines path:not(.thread-border){
					fill: none;
					stroke: black;
					stroke-width: 14;
					stroke-miterlimit:10;
				}
				.thread-border{
					fill: black;
					stroke: black;
					stroke-width: 1px;
				}
			}
			img{
				width: 50px;
			}
		}
	}
	.title {
		font-weight: 300;
		font-size: 20px;
		opacity: 0.6;
		margin-bottom: 20px;
		cursor: default;
	    //color: #343A47;
	    strong {
	    	font-weight: 600;
	    	color: #FF9966;
	    }
	}
	.contenido{
		display: flex;
		justify-content: space-between;
		margin: 0 $margin;
	}
	nav{
		margin-bottom: $margin;
		> div{
			margin-top: $margin + 30px;
			> * {
				display: block;
			}
			a{
				margin-top: $margin - 10px;
				text-decoration: none;
				font-size: 31px;
				color: black;
				position: relative;
				&::before{
					background-color: #fe7734;
				}
			}
		}
	}
	a, .title, span{
		transition: opacity 15s $curve, transform 1.5s $curve;
		transform: translateX(-10px);
		opacity: 0;
	}
	.contacto{
		display: flex;
		flex-direction: column;
		margin-right: 70px;
		.title{
			font-size: 34px;
			margin-top: 60px;			
			margin-bottom: 40px;
		}
		.title + span{
			font-size: 22px;
			margin-bottom: 10px;
		}
		.email{
			font-weight: bold;
			font-size: 26px;
			//color: #343A47;
			color: black;
			text-decoration: none;
			margin-bottom: 60px;
			position: relative;
			&::before {
				top: 2px;
			}
		}
		.info{
			display: flex;
			align-items: center;
			font-size: 18px;
			margin-bottom: 20px;
			text-decoration: none;
			color: black;
			svg{
				width: 25px;
				height: 25px;
				margin-right: 4px;
				transition: fill 0.5s $curve;
			}
		}
		.location:hover svg{
			fill: $naranja;
		}
		.flex {
			margin-bottom: 20px;
			.info{
				margin-right: 20px;
			}
		}
		.social{
			display: flex;
			align-items: center;
			a{
				display: inline-block;
				width: 40px;
				height: 40px;
				margin-right: 20px;
				svg{
					width: 100%;
					height: 100%;
					transition: transform 0.5s $curve;
				}
				&::before{
					height: 100%;
					padding: 0;
					border-radius: 50%;
					background-color: $naranja;	
					left: 8px;
				}
				&:hover{
					&::before{
						transform: translateX(-10px) translateY(-5px) scale(1.3);
					}
					svg {
					    transform: scale(0.8);
					}
				}
			}

		}
	}
	&.show{
		top: 0;
		opacity: 1;
		a, .title, span{
			transform: translateX(0px);
			opacity: 1;
		}
	}
	@media screen and (max-width: 890px){
		.contenido{
			flex-direction: column;
			padding-bottom: 40px;
			.contacto {
				margin-right: 0;
			}
		}
	}
	@media screen and (max-width: 460px){
		.contacto {
			.title {
		    	font-size: 29px;
		    	& + span {
    				font-size: 19px;
    			}
		    }
		    .email {
			    font-size: 20px;
			}
		    .info {
			    font-size: 15px;
			}
		}
	}
	@media screen and (max-width: 360px){
		nav > div a {
		    margin-top: 20px;
		    text-decoration: none;
		    font-size: 25px;
		}
		.contacto {
			.email{
				font-size: 17px;
			}
			.location{
				max-width: 216px;
	    		white-space: nowrap;
	    		overflow: hidden;
	    	}
		}
	}
}
.button-more{
	cursor: pointer;
	padding: 6px 15px;
	position: relative;
	text-align: center;
	width: 80px;
	.text{
		display: inline-block;
		font-weight: 400;
		transition: all 0.5s $curve;
	}
	&::after{
		background-color: #343a47;		
		content: '';
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: opacity 0.5s $curve, transform 0.5s $curve;
		transform: scale(0.9);
		width: 100%;
		z-index: -1;
	}
	&:hover{
		&::after{
			opacity: 1;
			transform: scale(1);
		}
		.text{
			color: white;
			opacity: 0.8;
			//transform: scale(0.99);
		}
	}
}
.title{
	font-family: 'Source Sans Pro';
	font-weight: 600;
	font-size: 20px;
	margin: 0;
	margin-bottom: 40px;
}